state-machine/definition.json
{
  "Comment": "Enterprise-grade Serverless ML Inference Pipeline",
  "StartAt": "ExtractS3Details",
  "States": {
    "ExtractS3Details": {
      "Type": "Pass",
      "Parameters": {
        "s3_bucket.$": "$.Records[0].s3.bucket.name",
        "s3_key.$": "$.Records[0].s3.object.key",
        "timestamp.$": "$$.Execution.StartTime"
      },
      "ResultPath": "$.S3Details",
      "Next": "ContentModeration"
    },
    "ContentModeration": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rekognition:detectModerationLabels",
      "Parameters": {
        "Image": {
          "S3Object": {
            "Bucket.$": "$.S3Details.s3_bucket",
            "Name.$": "$.S3Details.s3_key"
          }
        },
        "MinConfidence": 70
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "Rekognition.ProvisionedThroughputExceededException",
            "Rekognition.InternalServerError",
            "Rekognition.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState"
        }
      ],
      "ResultPath": "$.ModerationResult",
      "Next": "ModerationChoice"
    },
    "ModerationChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ModerationResult.ModerationLabels[0]",
          "IsPresent": true,
          "Next": "RejectModeration"
        }
      ],
      "Default": "ClassifyRoomType"
    },
    "RejectModeration": {
      "Type": "Pass",
      "Parameters": {
        "status": "REJECTED",
        "reason": "content_moderation_failure",
        "details.$": "$.ModerationResult.ModerationLabels",
        "image_key.$": "$.S3Details.s3_key",
        "processed_at.$": "$$.Execution.StartTime"
      },
      "ResultPath": "$.FinalResult",
      "Next": "NotifyAgent"
    },
    "ClassifyRoomType": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rekognition:detectLabels",
      "Parameters": {
        "Image": {
          "S3Object": {
            "Bucket.$": "$.S3Details.s3_bucket",
            "Name.$": "$.S3Details.s3_key"
          }
        },
        "MaxLabels": 10,
        "MinConfidence": 80
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "Rekognition.ProvisionedThroughputExceededException",
            "Rekognition.InternalServerError",
            "Rekognition.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState"
        }
      ],
      "ResultPath": "$.ClassificationResult",
      "Next": "QualityCheck"
    },
    "QualityCheck": {
      "Type": "Task",
      "Resource": "<LAMBDA_ARN>",
      "Parameters": {
        "s3_bucket.$": "$.S3Details.s3_bucket",
        "s3_key.$": "$.S3Details.s3_key"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState"
        }
      ],
      "ResultPath": "$.QualityResult",
      "Next": "QualityChoice"
    },
    "QualityChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.QualityResult.is_blurry",
          "BooleanEquals": true,
          "Next": "RejectQuality"
        }
      ],
      "Default": "ApproveImage"
    },
    "RejectQuality": {
      "Type": "Pass",
      "Parameters": {
        "status": "REJECTED",
        "reason": "blur_detection_failure",
        "score.$": "$.QualityResult.blur_score",
        "image_key.$": "$.S3Details.s3_key",
        "processed_at.$": "$$.Execution.StartTime"
      },
      "ResultPath": "$.FinalResult",
      "Next": "NotifyAgent"
    },
    "ApproveImage": {
      "Type": "Pass",
      "Parameters": {
        "status": "APPROVED",
        "image_key.$": "$.S3Details.s3_key",
        "classification.$": "$.ClassificationResult.Labels",
        "quality_score.$": "$.QualityResult.blur_score",
        "processed_at.$": "$$.Execution.StartTime"
      },
      "ResultPath": "$.FinalResult",
      "Next": "NotifyAgent"
    },
    "NotifyAgent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "<SNS_TOPIC_ARN>",
        "Message.$": "States.JsonToString($.FinalResult)",
        "MessageAttributes": {
          "Status": {
            "DataType": "String",
            "StringValue.$": "$.FinalResult.status"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "SNS.SNSException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState"
        }
      ]
    },
    "FailState": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "<SNS_TOPIC_ARN>",
        "Message": {
          "status": "CRITICAL_FAILURE",
          "reason": "unhandled_pipeline_exception"
        }
      },
      "End": true
    }
  }
}
