state-machine/definition.json
{
  "Comment": "PropTech Serverless ML Inference Pipeline - Image Moderation, Classification & Quality Check",
  "StartAt": "ExtractS3Details",
  "States": {
    "ExtractS3Details": {
      "Type": "Pass",
      "Parameters": {
        "s3_bucket.$": "$.detail.bucket.name",
        "s3_key.$": "$.detail.object.key",
        "timestamp.$": "$$.Execution.StartTime"
      },
      "ResultPath": "$.S3Details",
      "Next": "ContentModeration",
      "Comment": "Extract S3 bucket and key from the event notification payload"
    },
    "ContentModeration": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rekognition:detectModerationLabels",
      "Parameters": {
        "Image": {
          "S3Object": {
            "Bucket.$": "$.S3Details.s3_bucket",
            "Name.$": "$.S3Details.s3_key"
          }
        },
        "MinConfidence": 70
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "Rekognition.ProvisionedThroughputExceededException",
            "Rekognition.InternalServerError",
            "Rekognition.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandlePipelineError",
          "ResultPath": "$.ErrorInfo"
        }
      ],
      "ResultPath": "$.ModerationResult",
      "Next": "ModerationChoice"
    },
    "ModerationChoice": {
      "Type": "Choice",
      "Comment": "If ModerationLabels array is not empty AND any label Confidence > 80.0, reject",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ModerationResult.ModerationLabels[0]",
              "IsPresent": true
            },
            {
              "Variable": "$.ModerationResult.ModerationLabels[0].Confidence",
              "NumericGreaterThan": 80.0
            }
          ],
          "Next": "RejectModeration"
        }
      ],
      "Default": "ClassifyRoomType"
    },
    "RejectModeration": {
      "Type": "Pass",
      "Parameters": {
        "status": "REJECTED",
        "image_key.$": "$.S3Details.s3_key",
        "reason": "inappropriate_content"
      },
      "ResultPath": "$.FinalResult",
      "Next": "NotifyAgent"
    },
    "ClassifyRoomType": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rekognition:detectLabels",
      "Parameters": {
        "Image": {
          "S3Object": {
            "Bucket.$": "$.S3Details.s3_bucket",
            "Name.$": "$.S3Details.s3_key"
          }
        },
        "MaxLabels": 10,
        "MinConfidence": 80
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "Rekognition.ProvisionedThroughputExceededException",
            "Rekognition.InternalServerError",
            "Rekognition.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandlePipelineError",
          "ResultPath": "$.ErrorInfo"
        }
      ],
      "ResultPath": "$.ClassificationResult",
      "Next": "QualityCheck"
    },
    "QualityCheck": {
      "Type": "Task",
      "Resource": "<LAMBDA_ARN>",
      "Parameters": {
        "s3_bucket.$": "$.S3Details.s3_bucket",
        "s3_key.$": "$.S3Details.s3_key"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandlePipelineError",
          "ResultPath": "$.ErrorInfo"
        }
      ],
      "ResultPath": "$.QualityResult",
      "Next": "QualityChoice"
    },
    "QualityChoice": {
      "Type": "Choice",
      "Comment": "If is_blurry is true, reject the image for low quality",
      "Choices": [
        {
          "Variable": "$.QualityResult.is_blurry",
          "BooleanEquals": true,
          "Next": "RejectQuality"
        }
      ],
      "Default": "ApproveImage"
    },
    "RejectQuality": {
      "Type": "Pass",
      "Parameters": {
        "status": "REJECTED",
        "image_key.$": "$.S3Details.s3_key",
        "reason": "low_quality"
      },
      "ResultPath": "$.FinalResult",
      "Next": "NotifyAgent"
    },
    "ApproveImage": {
      "Type": "Pass",
      "Parameters": {
        "status": "APPROVED",
        "image_key.$": "$.S3Details.s3_key",
        "tags.$": "$.ClassificationResult.Labels[*].Name"
      },
      "ResultPath": "$.FinalResult",
      "Next": "NotifyAgent"
    },
    "NotifyAgent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "<SNS_TOPIC_ARN>",
        "Message.$": "States.JsonToString($.FinalResult)",
        "MessageAttributes": {
          "Status": {
            "DataType": "String",
            "StringValue.$": "$.FinalResult.status"
          },
          "ImageKey": {
            "DataType": "String",
            "StringValue.$": "$.FinalResult.image_key"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.Timeout",
            "SNS.SNSException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandlePipelineError",
          "ResultPath": "$.ErrorInfo"
        }
      ],
      "End": true
    },
    "HandlePipelineError": {
      "Type": "Task",
      "Comment": "Global error handler - publishes failure notification to SNS",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "<SNS_TOPIC_ARN>",
        "Message": {
          "status": "CRITICAL_FAILURE",
          "reason": "unhandled_pipeline_exception",
          "image_key": "unknown"
        }
      },
      "End": true
    }
  }
}
